
/* button css */
.btn-hover {
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  text-align: center;
  border: none;
  background-size: 300% 100%;

  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* button css */
.s-1-bottom-btn {
  display: inline-block !important;
  padding: 8px 16px 8px 40px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 25px;
  margin-left: -31px;
  margin-top: 20px;
}

.dropdown-menu.show {
  background: linear-gradient(
    90deg,
    rgba(80, 123, 159, 0.9524157234791959) 1%,
    rgba(38, 59, 77, 1) 70%
  );
  color: white;
}
.card12345:hover {
  box-shadow: 0px 0px 6px 6px #3f5c8f;
  transition: 0.6s;
}
section.fixed-top {
  box-shadow: 0px -4px 6px 6px #1a325c;
}
.dropdown-item:hover {
  background: linear-gradient(
    90deg,
    rgba(80, 123, 159, 0.9524157234791959) 1%,
    rgba(38, 59, 77, 1) 70%
  );
  color: #ffffff;
}
.dropdown-menu.show {
  margin-left: 1rem;
}
a.dropdown-item {
  text-align: center;
}
.box {
  background: Linear-Gradient(To Left Bottom, Rgb(34, 45, 56), Rgb(13, 17, 23));

  padding: 4rem 5rem;
  border-radius: 1rem;
}

/*  button css end  */

/* bottom nav */
.nav111 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #000000;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__icon {
  font-size: 18px;
}
p.small.h6.text-dark {
  text-align: left;
  padding-left: 2rem;
}

.p-5 {
  padding: 0rem !important;
}
.card.bgn {
  cursor: pointer;
}
button.btn.btn-link.text-light {
  text-align: justify !important;
}
.card-body.text-light {
  text-align: justify !important;
}
img.only-mobile-img {
  width: 80%;
}
p.vertion-p {
  line-height: 28px;
}
.p-h {
  line-height: 35px;
}
span.text-center123 {
  display: flex;
  justify-content: center;
}
p.text-light.p-h {
  text-align: left !important;
}
/* bottom nav */

/* icon */
i.fa-solid.fa-people-group {
  /* color: white; */
  /* background: black; */
  color: black;
  background: white;
  border-radius: 50%;
  font-size: 10px;
  padding: 4px 3px 4px 3px;
}

i.fa-solid.fa-envelope.uniqure {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 4px 4px 3px 4px;
  font-size: 10px;
}
i.fa-solid.fa-phone {
  font-size: 10px;
  color: black;
  background: white;
  padding: 4px;
  border-radius: 50%;
}
i.fa-solid.fa-location-dot {
  font-size: 10px;
  color: black;
  background: white;
  border-radius: 50%;
  padding: 4px 5px;
}
i.fa-brands.fa-facebook-f.www {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 7px 12px;
  font-size: 25px;
}
i.fa-brands.fa-youtube.www {
  color: black;
  background: white;
  border-radius: 50%;
  font-size: 25px;
  padding: 8px 7px;
}
i.fa-brands.fa-twitter.www {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 25px;
}
i.fa-brands.fa-instagram.www {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 8px 10px;
  font-size: 24px;
}
.www:hover {
  box-shadow: 0px 0px 6px 6px #3f5c8f;
  transition: 0.5s;
}
/*  icon end  */


/* faq */
/* faq start end */

/* responsrive part */
@media only screen and (max-width: 1200px) {
  a.nav-link {
    font-size: 14px;
  }
  .s-1-text h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 676px) {
  nav.nav111 {
    display: none;
  }
  .mobile-img {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  .p-5 {
    padding: 0rem !important;
  }
  .box {
    padding: 4rem 1rem;
    margin-top: 3rem;
  }
  nav.navbar.navbar-expand-lg.text-light {
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .row {
    text-align: center;
  }
  .col-md-4.mt-3 {
    padding: 0 3rem;
  }
  .left-padding1 {
    margin-left: 0rem;
  }
  .left-padding {
    margin-left: 0rem;
  }

  img.img111 {
    max-width: 300px;
    margin-top: 4rem;
  }
  .col-md-6.mt-3 {
    margin-bottom: 2rem;
  }
  p.p-p {
    margin-bottom: 0;
  }
  .dropdown-menu.show {
    width: 44%;
  }
  .mt-2rem {
    margin-top: 2rem;
  }
  div#navbarSupportedContent {
    text-align: center;
  }
  img.h-logo {
    width: 65px;
  }
  img.img111 {
    display: none;
  }
  .s-1-icon.mx-5 {
    margin-top: 15px;
  }
  button.faqbtn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  a.More-Courses {
    padding: 8px 8px 9px 30px;
    font-size: 15px;
  }
  p.p-p {
    font-size: 10px;
  }
  .h5,
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  h4 {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
  .s-1-text h1 {
    font-size: 25px;
  }

  .f18 {
    font-size: 12px;
  }

  img.only-mobile-img {
    width: 50%;
  }
  img.only-mobile-img {
    width: 50%;
  }
  h1.top-headding {
    line-height: 26px;
    margin-top: -3rem;
    /* font-size: 20px; */
  }
  i.fa-solid.fa-arrow-right.big {
    font-size: 15px !important;
  }
  .s-1-bottom-btn {
    padding: 5px 16px 5px 38px;
    font-size: 15px;
  }
  i.fa-solid.fa-arrow-right {
    font-size: 13px;
  }
  .text-center.bottom-margin {
    margin-bottom: 20px;
    text-align: left !important;
  }
  span.text-center123 {
    display: flex;
    justify-content: left;
  }
  .text-center.bottom-margin {
    margin-top: 20px;
  }
  p.text-light.p-h {
    margin-left: 1rem;
  }

  .py-5 {
    padding-bottom: 0rem !important;
  }
  .peyment-section.text-light {
    margin-top: 2rem;
  }
  .box {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .col-md-4.mt-3 {
    padding: 0 1rem;
  }
  .box1 {
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 300px) {
  .s-1-text h1 {
    font-size: 17px;
  }
  .h5,
  h5 {
    font-size: 11px;
  }
  p.p-p {
    font-size: 7px;
    margin-bottom: 0;
  }
}
html {
  scroll-behavior: smooth;
}




/* faq */


.step-wizard-list {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
  }
  .step-wizard-item {
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .step-wizard-item + .step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #306eff;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
  }
  .progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
  }
  .progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    background: #0e4b80;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }
  .progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
  .progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  .current-item .progress-count:before,
  .current-item ~ .step-wizard-item .progress-count:before {
    display: none;
  }
  .current-item ~ .step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
  }
  .current-item ~ .step-wizard-item .progress-label {
    opacity: 0.5;
  }
  .current-item .progress-count:after {
    background: rgb(0, 0, 0);
    border: 2px solid #0e4b80;
  }
  .current-item .progress-count {
    color: #0e4b80;
  }
  .peyemnt-box {
    border: 2px dashed #514f58;
    border-radius: 19px;
    padding: 11px 10px;
  }
  .d-border {
    border: 2px dashed #514f58;
    border-radius: 10px;
    padding: 5px;
  }
  .bg-c-box.text-light {
    background: #d62267;
    border-radius: 11px;
  }
  input.form-control {
    background: rgb(255, 255, 255);
    /* border-radius: 10px; */
  }
  input.form-control:focus {
    background: rgb(255, 255, 255) !important;
    /* border-radius: 10px; */
  }
  /* last step */
  
  .alert {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    height: 100px;
    padding-top: 150px;
    position: relative;
  
    border-radius: 2%;
  }
  
  .alert::before {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    inset: 20px 0px 0px 100px;
    font-size: 60px;
    line-height: 100px;
    border: 5px solid gray;
    animation-name: reveal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }
  
  .alert > .alert-body {
    opacity: 0;
    animation-name: reveal-message;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes reveal-message {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .success {
    color: green;
  }
  
  .success::before {
    content: "✓";
    background-color: #eff;
    box-shadow: 0px 0px 12px 7px rgba(200, 255, 150, 0.8) inset;
    border: 5px solid green;
  }
  
  .error {
    color: red;
  }
  
  .error::before {
    content: "✗";
    background-color: #fef;
    box-shadow: 0px 0px 12px 7px rgba(255, 200, 150, 0.8) inset;
    border: 5px solid red;
  }
  
  @keyframes reveal {
    0% {
      border: 5px solid transparent;
      color: transparent;
      box-shadow: 0px 0px 12px 7px rgba(255, 250, 250, 0.8) inset;
      transform: rotate(1000deg);
    }
    25% {
      border-top: 5px solid gray;
      color: transparent;
      box-shadow: 0px 0px 17px 10px rgba(255, 250, 250, 0.8) inset;
    }
    50% {
      border-right: 5px solid gray;
      border-left: 5px solid gray;
      color: transparent;
      box-shadow: 0px 0px 17px 10px rgba(200, 200, 200, 0.8) inset;
    }
    75% {
      border-bottom: 5px solid gray;
      color: gray;
      box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
    }
    100% {
      border: 5px solid gray;
      box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
    }
  }
  
  /* last step */
  
  @media only screen and (max-width: 365px) {
    .step-wizard-item {
      padding: 0 0px;
    }
  }
  





  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rancho&display=swap");

h1,
h2,
h6,
h5,
h3,
p {
  font-family: "Poppins", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
}
::placeholder {
  color: rgb(136, 143, 145);
  opacity: 1; /* Firefox */
  font-size: 15px;
}
body {
  background: #141616;

  margin-left: -31px;
}
.start-all {
  display: flex;
  justify-content: center;
}
.stimg {
  margin-left: 31px;
}
img {
  max-width: 100%;
}
.log-in-img {
  background: Linear-Gradient(To Left Bottom, Rgb(34, 45, 56), Rgb(13, 17, 23));
  padding: 3rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.log-in-form {
  background: Linear-Gradient(To Left Bottom, Rgb(34, 45, 56), Rgb(13, 17, 23));
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem 3.4rem !important;
}
input {
  background: #06111a;
  border: 1px solid #ffffff;
  padding: 7px 80px 7px 45px;
  width: 100%;
  color: white;
  border-radius: 20px;
  /* margin-bottom: 0rem; */
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 10px;
}
.p-l-1 {
  padding-left: 1rem;
}
.row.mb-2.p-l-1 {
  padding-right: 10px;
}
.ipp {
  position: relative;
}
.icone {
  left: 0;
  top: 5px;
}
button.btn.btn-primary.py-2.br30.px-5.br20.btn-hover.color-9 {
  border-radius: 25px;
  font-size: 17px;
  padding: 7px 36px 10px 36px !important;
}

.btn1234 {
  border-radius: 25px !important;
  font-size: 17px !important;
  padding: 7px 36px 10px 36px !important;
}

.br20 {
  border-radius: 20px;
}
.br30 {
  border-radius: 30px;
}
.password-i {
  position: relative;
}
.bg2 {
  padding-left: 2rem;
}
.icon-e {
  position: absolute;
  right: 15px;
  bottom: 8px;
}
.key {
  position: absolute;
  left: 20px;
  bottom: 8px;
}
.box{
  background: #37a8eb;
}

/* responstiv */
@media only screen and (max-width: 770px) {
  .imgh {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .log-in-form {
    padding: 2rem 1.4rem !important;
  }
}
@media only screen and (max-width: 370px) {
  input {
    padding: 7px 45px 7px 45px;
  }
  .btn1234 {
    padding: 6px 20px 8px 20px !important;
  }
  .step-log-in {
    margin: 0 1rem;
  }
}


/*  */

i.fa-solid.fa-arrow-left {
    color: black;
    background: white;
    padding: 6px 7px;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 0px;
  }
  a.More-Courses1 {
    color: white;
    padding: 7px 30px 8px 13px;
    font-size: 19px;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 500px) {
    .box {
      padding: 1rem 1rem;
      margin-top: 0rem;
    }
  }
  